*{
    margin: 0;
    left: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

nav .nav-links.portfolio{
    text-decoration: none;
    color: var(--color-hover);
    border-bottom: var(--color-hover) 3px solid;
}

.pics-container{
    text-align: center;
    padding-bottom: 5vh;
    border: white 5px solid;
}
.pics-container h2{
    font-size: 2rem;
    padding-bottom: 10px;
}
.pics-container h2 a{
    color: white;
    transition: all 500ms;
}
.pics-container h2 a:hover{
    border-bottom: white 2px solid;
}
.pics-container.c1{
    background:rgb(167, 197, 255);
}
.pics-container.c2{
    background: rgb(255, 97, 97);
}
.pics-container.c3{
    background: rgb(45, 45, 88);
    color: white;
}
.site-images{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
}
.portfolio-images img{
    width: 30%;
    border: white 1px solid;
}

.learn-more-btn{
    transform: translateX(0);
    color: white;
    padding-top: 15px;
    transition: transform 1s ease-in;
}
.learn-more-btn:hover{
    text-decoration: underline;
}

.learn-more-btn.active{
    transform: translateX(-300%)
}
.hide-btn{
    transform: translateX(300%);
    color: white;
    transition: transform 1s ease-in 0s;


}
.hide-btn:hover{
    text-decoration: underline;
}

.hide-btn.active{
    padding-top: 50px;
    transform: translateX(0);

}

.divider{
    width: 80%;
    margin-left: 10%;
    height: 2px;
    background: white;
    margin-top: 20px;
}

.story{
    opacity: 0;
    height: 0;
    transform: translateX(300%);
    transition: transform 500ms, height 1s, opacity 250ms;
}

.story .text{
    width: 60%;
    margin-left: 20%;
}

.story .text h4{
    padding-top: 20px;
    text-decoration: underline;
    color: rgb(218, 218, 218);
    letter-spacing: 1px;
}
.story.active{
    color: rgb(192, 192, 192);
    opacity: 1;
    transform: translateX(0);
    height: 30vh;
    
}

@media screen and (max-width: 1300px){
    .story .text{
        width: 80%;
        margin-left: 10%;
    }

    .story.active{
        height: 40vh;
    }
}

@media screen and (max-width: 800px){

    .story.active{
        height: 60vh;
    }
}

@media screen and (max-width: 485px){
    .site-images{
        flex-direction: column;
    }
    .portfolio-images img{
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .pics-container.c2 img{
        padding-bottom: 10px;
        border: none;
    }

    .pics-container h2{
        font-size: 1.5rem;
        padding-bottom: 2vh;
        padding-top: 2vh;
    }

    .story .text{
        width: 90%;
        margin-left: 5%;
    }

    .story.active{
        height: 80vh;
    }

}